@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$main: #022249;
$second: #005252;
$orange: #f07c41;
$green: #32746d;
$blue-light: #23bfe7;
$blue-lighter: #7edaf1;

$primary: $main;
$info: $second;
$link: $green;
$grey: $blue-light;
$grey-light: $blue-lighter;
$danger: $orange;

$widescreen-enabled: false;
$fullhd-enabled: false;


// Update some of Bulma's component variables
// $body-background-color: $blue-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$box-background-color: rgba(255, 255, 255, 0.904);


@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";
@import "../node_modules/bulma/bulma.sass";