@import url('https://fonts.googleapis.com/css2?family=Monda&family=Montserrat&display=swap');

html {
  scroll-behavior: smooth;
}
 

* {
	font-family: 'Monda', sans-serif;
}


p {
	font-family: 'Montserrat', sans-serif;
}

.floating-back {
	position: relative;
	margin-top: -95vh;
	margin-left: 0;
	cursor: pointer;
}

.field {
	margin-left:  0!important;
}

.grades {
	margin-bottom: 2vh;
}

.columns div {
	margin-left: 2vw;
}

.errorMessage {
	position: relative;
  top: -11vh;

  padding: 5px 10px;
  border-radius: 2px;

  color: #fd7e14;
  background: rgb(21 21 21 / 94%);
  text-shadow: 2px 2px 4px black;
  box-shadow: 0px 3px 6px 0px #6f6f6f;
}

#errorIcon {
	margin-left: -1.8vw;
}

#pointing {
	  position: relative;
    color: rgb(21 21 21 / 94%);
    top: 3.2vh;
}

.snit {
	font-size: 3em;
  margin-top: -2vh;
}

.svgbox {
	max-width: 60vw;
  margin-left: 35vw;
  display: inline;
  margin-top: -80vh;
}