@import url('https://fonts.googleapis.com/css2?family=Monda&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

html {
  scroll-behavior: smooth;
}
 

* {
	font-family: 'Monda', sans-serif;
}


p {
	font-family: 'Montserrat', sans-serif;
}

a {
	font-family: 'Montserrat', sans-serif;
}

.floating-back {
	position: relative;
	margin-top: -95vh;
	margin-left: 0;
	cursor: pointer;
}

.year {
	font-family: 'Teko', sans-serif;
	font-size: 2.5em;

	position: relative;
    top: -2vh;
    left: 3vw;

	text-shadow: 1px 1px 1px white;   
}

#tesla {
	padding:  4.5em;
	width: 40vw;
	background: url('./images/teslaThumbnail.png');
	background-size: 100%;
	 background-position: top;
	filter: grayscale(1);
	transition: background-size 150ms ease-out;
}

#tesla:hover {
	transition: 100ms ease-in;
	transition: background-size 300ms ease-in;
	filter:  grayscale(0);

	background-size: 110%;
  background-position: top;
}

#gennemsnit {
	padding: 4.5em;
	width: 40vw;
	background: url('./images/gennemsnitThumbnail.png');
	background-size: 100%;
	 background-position: left;
	filter: grayscale(1);
	transition: background-size 150ms ease-out;
}

#gennemsnit:hover {
	transition: 100ms ease-in;
	transition: background-size 300ms ease-in;
	filter:  grayscale(0);

	background-size: 110%;
  background-position: left;
}

.cursor {
	height: 25px;
	width: 25px;
	border-radius: 50%;

	background: rgb(14 14 14 / 44%);
}